@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  padding: 8;
  border: 5px solid var(--foreground);
  border-radius: 8;
}
.page {
  background-color: #ff8c20;
}
.layout {
  background-color: #0090ff;
}

.template {
  background-color: #00a2c7;
}
.slot-1 {
  background-color: lightgray;
}
.slot-2 {
  background-color: #bdee63;
}
.slot-3 {
  background-color: #f76b15;
}
